:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
:host {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: var(--zinc-100);
  color: var(--zinc-900);
  font-family: "Montserrat", sans-serif;
  transition: 300ms background-color, color ease;
  overflow-x: hidden;
}

body.dark {
  background-color: var(--zinc-800);
  color: var(--zinc-100);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#header {
  align-items: center;
  background-color: var(--zinc-200);
  display: flex;
  position: sticky;
  height: 48px;
  top: 8px;
  justify-content: start;
  margin: 8px;
  padding: 8px;
  position: sticky;
  box-shadow: 0 4px 4px #00000030;
  user-select: none;
  border-radius: 8px;
  z-index: 50;
}

.dark #header {
  background-color: var(--zinc-700);
}

#header > a {
  font-size: 2rem;
  font-weight: 700;
}

.navbar-btn {
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-left: 8px;
  padding: 4px;
  transition: 150ms background-color ease;
}

.navbar-btn:nth-of-type(1) {
  margin-left: auto;
}

.navbar-btn:hover {
  background-color: var(--zinc-300);
}
.dark .navbar-btn:hover {
  background-color: var(--zinc-600);
}

.navbar-btn:active {
  background-color: var(--zinc-400);
  transition: none;
}

.dark .navbar-btn:active {
  background-color: var(--zinc-500);
}

#arrow-icon {
  transition: 300ms rotate ease;
}

#arrow-icon.open {
  rotate: 180deg;
}

#sidebar {
  align-items: start;
  background-color: var(--zinc-200);
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 4px #00000030;
  margin: 8px;
  position: fixed;
  right: 0px;
  top: 56px;
  transition: 300ms width ease;
  width: 0;
  border-radius: 8px;
  z-index: 20;
}

.dark #sidebar {
  background-color: var(--zinc-700);
}

#sidebar.open {
  width: 128px;
}

@media (min-width: 1024px) {
  #sidebar.open {
    width: 192px;
  }
}

@media (min-width: 2048px) {
  #sidebar.open {
    width: 256px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#moon-icon.hidden,
#sun-icon.hidden {
  display: none;
}

.links {
  height: 100%;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.sidebar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  height: 32px;
  width: 100%;
  border-radius: 8px;
  transition: 150ms background-color ease;
}

.sidebar-buttons:hover {
  background-color: var(--zinc-300);
}
.dark .sidebar-buttons:hover {
  background-color: var(--zinc-600);
}

.sidebar-buttons:active {
  background-color: var(--zinc-400);
  transition: none;
}

.dark .sidebar-buttons:active {
  background-color: var(--zinc-500);
}

.social-links {
  align-items: flex-end;
  width: calc(100% - 16px);
  bottom: 0;
  display: flex;
  margin: 8px;
  padding: 4px;
  border-radius: 8px; 
  justify-content: space-evenly;
  background-color: var(--zinc-800);
  position: absolute;
}

.social-links-buttons {
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 8px;
  transition: 150ms background-color ease;
}

.social-links-buttons:hover {
  background-color: var(--zinc-300);
}
.dark .social-links-buttons:hover {
  background-color: var(--zinc-600);
}

#greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 128px;
  font-size: 3rem;
  font-weight: 700;
}

#greeting > a {
  color: var(--violet-700);
  text-decoration: underline;
  transition: 150ms color ease;
}

#greeting > a:hover {
  color: var(--violet-600);
}

.dark #greeting > a {
  color: var(--violet-400);
}

.dark #greeting > a:hover {
  color: var(--violet-500);
}

#nav-arrow {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  animation: bounce 1s infinite;
  height: 48px;
  bottom: 240px;
  width: 100%;
  opacity: 1;
  transition: 300ms opacity linear;
  z-index: 0;
}

#nav-arrow > svg {
  height: 48px;
  width: 48px;
}

#about {
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
  margin-bottom: 128px;
  border-style: solid;
  border-width: 4px;
  border-radius: 9999px;
  border-color: currentColor;
  width: 80%;
}
