---
import navbar from "../components/navbar.astro";
---

<navbar>
    <div
        class="flex p-3 top-0 z-50 select-none sticky items-center justify-center border-b border-zinc-700"
    >
    </div>
</navbar>
