---

---

<html class="bg-zinc-800 text-zinc-100" lang="en">
    <head>
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ander</title>
    </head>
    <body> </body>
</html>
